/*Page header*/
.header {
	color: #6de086;
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	padding-bottom: 3px;
	border-bottom: 3px solid grey;
	text-indent: 10px;
}

.headerImg {
	width: 360px;
	height: auto;
}

/*Sidebar*/
.nav-custom {
	background-color: #9e9e9e;
	margin-top: 5px;
	border-radius: 15px 0px 15px 15px;
	list-style-type: none;
	list-style-position: inside;
	color: black;
}
	
.nav-custom li {
	box-sizing: border-box;
	margin: auto;
}

.nav-custom a {
	font-family: tahoma;
	text-decoration: none;
	display: block;
	padding: 10px;
}

.nav li a:focus {
	background-color: #9e9e9e;
	text-decoration: none;
}

.nav li a:hover {
	background-color: #6de086;
	text-decoration: none;
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs li a {
	border-radius: 15px 0px 15px 15px;
}

.nav-custom a:visited {
	color: black;
	background-color: #9e9e9e;
}

.nav-custom a:active {
	text-decoration: none;
	background-color: #9e9e9e;
}

/*Empty classes for the different sidebar parts, to use them with jQuery*/
#About {
}

#Portfolio {
}

#Contact {
}

/*Content*/
.contentAbout {
	padding: 5px;
	border: 3px solid grey;
	margin-top: 5px;
	border-radius: 0px 15px 15px 15px;
}

.contentPortfolio {
	padding: 5px;
	border: 3px solid grey;
	margin-top: 5px;
	border-radius: 0px 15px 15px 15px;
	margin-bottom: 30px;
}

.portfolio {
	border-top: 3px solid #9e9e9e;
	padding: 5px;
}

.photo {
	max-width: 800px;
}

.smallPhoto {
	max-width: 450px;
	max-height: auto;
	display: block;
	margin: auto;
}

.contentContact {
	padding: 5px;
	border: 3px solid grey;
	margin-top: 5px;
	border-radius: 0px 15px 15px 15px;
}

.title {
	font-family: 'Pacifico', cursive;
	color: #6de086;
}

.h4title {
	font-family: 'Pacifico', cursive;
	color: #6de086;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;
  text-align: center;
}